body
{
	margin:0;
	padding:0;
	font-size:13px;
	font-family:Arial;
}
.leftmenu
{
	width:200px;
	background-color:#292C37;
	position:fixed;
	left:0;
	top:0;
	bottom:0;
}
.company_name
{
	height:100px;
	line-height:100px;
	font-size:18px;
	color:#FFF;
	text-align:center;
	text-transform:uppercase;
}
.container
{
	padding-left:200px;
}
.top
{
	height:40px;
	background-color:#292C37;
	color:#FFF;
	font-size:15px;
}
.top_right
{
	float:right;
	height:40px;
	line-height:40px;
	padding-left:10px;
	padding-right:10px;
}
.top_right a
{
	color:#FFF;
	text-decoration:none;
}
.menuarea
{
	color:#FFF;
}
.menuarea ul
{
	margin:0;
	padding:0;
	list-style:none;
}
.menuarea li
{
	height:40px;
	line-height:40px;
	font-size:12px;
	padding-left:30px;
}
.menuarea li:hover
{
	background-color:#000;
}
.menuarea li a
{
	color:#FFF;
	text-decoration:none;
	display:block;
}
.area
{
	padding:15px;
}
.tabarea
{
	height:40px;
}
.tabitem
{
	float:left;
	width:50%;
	height:40px;
	line-height:40px;
	text-align:center;
	border-bottom:1px solid #000;
	background-color:#EEE;
	cursor:pointer;
}
.activetab
{
	border-bottom:none;
	background-color:#FFF;
}
.tabbody
{
	display:none;
	padding-top:20px;
}
input[type=text],
input[type=password],
input[type=email],
input[type=number],
select,
textarea
{
	width:100%;
	height:40px;
	outline:0;
	font-size:16px;
	padding-left:10px;
	padding-right:10px;
	margin-bottom:20px;
	border-radius:5px;
	border:1px solid #CCC;
	margin-top:5px;
}
textarea
{
	height:100px;
}
input[type=submit]
button,
.button
{
	height:40px;
	border:0px;
	line-height:40px;
	padding-left:20px;
	padding-right:20px;
	color:#FFF;
	font-size:13px;
	border-radius:5px;
	background-color:#292C37;
	border:1px solid #292C37;
	cursor:pointer;
	display:inline-block;
}
.button a
{
	color:#FFF;
	text-decoration:none;
}
.button_delete
{
	height:30px;
	line-height:30px;
	background-color:#9F111B;
	border:1px solid #9F111B;
}
.button_small
{
	height:30px;
	line-height:30px;
}
table
{
	margin-top:10px;
}
table th
{
	height:40px;
	line-height:40px;
	background-color:#DDD;
	text-align:left;
	padding-left:10px;
	padding-right:10px; 
}
table td
{
	height:40px;
	line-height:40px;
	background-color:#EEE	;
	text-align:left;
	padding-left:10px;
	padding-right:10px; 
}
.warning
{
	border:2px solid #FF0000;
	padding:10px;
	border-radius:5px;
	background-color:#FF9999;
	color:#000;
	margin-top:20px;
}
.success
{
	border:2px solid #90ee90;
	padding:10px;
	border-radius:5px;
	background-color:#90ee90;
	color:#000;
	margin-top:20px;
}
.p_item
{
	height:25px;
	line-height:20px;
}
.pagination
{
	margin-top:30px;
	margin-bottom:30px;
}
.pag_item
{
	width:30px;
	height:20px;
	float:left;
	border:1px solid #000;
	border-radius:5px;
	margin-right:3px;
	text-align:center;
	line-height:20px;
}
.pag_item a
{
	color:#000;
	text-decoration:none;
}
.pag_active
{
	background-color:#292C37;
	color:#FFF;
}
.pag_active a
{
	color:#FFF;
}
.pag_button
{
	width:30px;
	height:20px;
	float:left;
	border:1px solid #000;
	border-radius:5px;
	margin-right:3px;
	text-align:center;
	line-height:20px;
}
.pag_button a
{
	text-decoration:none;
	color:#FFF;
}
#search
{
	width:100px;
	float:right;
	background-image:url('../images/search.png');
	background-repeat:no-repeat;
	background-size:15px 15px;
	background-position:5px;
	padding-left:25px;
	border:1px solid #CCC;
}
.searchresults
{
	width:248px;
	background-color:#FFF;
	position:absolute;
	border:1px solid #CCC;
}
.si 
{
	height:20px;
	line-height:20px;
	padding-left:10px;
	cursor:pointer;
}
.si a
{
	text-decoration:none;
	color:#000;
}
.si:hover
{
	background-color:#EEE;
}